/* Add some padding on document's body to prevent the content
   from going underneath the header and footer */
body{
  padding-top: 90px;
  padding-bottom: 40px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #d9edff;
  margin: 0 auto;
  text-align: left;
}

/* Header Properties */
.fixed-header{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #808a72;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: "Marcellus SC", serif;
  font-size: 2em;
  color: white;
}

/*navigation bar*/
.fixed-header nav {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  background-color: inherit;
  margin: 0 auto;
}

.fixed-header nav a {
  text-decoration: none;
  color: white;
  padding: 0 1em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
}

.fixed-header nav a:hover {
  color: blue;
  transition: 1s;
}

a {
  text-decoration: underline;
  color: black;
}


#content {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 0em 1em;
  background-color: #d2e6f7;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


#content h1 {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding: inherit;
  margin-left: -0.666666667em;
  background-color: #808a72;
  color: white;
  font-family: "Marcellus SC", serif;
}


#content p {
  margin: 0 0 1em 0;
  line-height: 1.5;
}

#content ul {
  margin: -0.5em 0 0.5em 0;
}

.info {
  font-style: italic;
  font-size: 1.25em;
  padding: 1em 0;
  text-align: center;
}

.slidecontainer {
  display:flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}


app {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: verdana;
}
